.mediaWithDescription {
    display: flex;
    width: 90%;
    height: 90%;
    margin: 0;
}
.mediaDisplay {
    height: 100%;
    width: 40%;
}
.descriptionBox {
    height: 100%;
    width: 40%;
}
.videoDisplay {
    vertical-align: top;
    width: 100%;
    height: 100%;
}